  
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-dark .navbar-nav .nav-link.active {
  text-decoration: none;
  background-color: #423277;
  border-radius: 6px;
}


form input[type="text"], .input-group-text {
  font-size: 16px;
  line-height: 20px;
}

.input-group>.custom-select{
  font-size: 16px;
}

.input-group>.form-control {
  font-size: 16px;
}

.input-group>.btn {
  font-size: 16px;
}

form input[type="text"] {
  font-size: 16px;
  line-height: 20px;
}

label {
  margin-bottom: 4px;
  font-size: 14px;
}

select {
  font-size: 16px;
  line-height: 20px;
}
.tab_bar.active {
  color: #3f83f8;
  border-bottom-color: #3f83f8;
}
.tab_bar {
  color: #64748b;
  padding-bottom: 16px;
}

a, a:hover {
  color: #27303F;
  text-decoration: none;
}

.pagination>li, ul, span {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.pagination>li>span {
  cursor: pointer;
  float: left;
  padding: 6px 12px;
  margin-left: 1px;
  /* border: 1px solid #ddd; */
  border-radius: 6px;
}
.pagination .btn.active{
  color: black;
  font-weight: bolder;
}

.badge-danger {
  color: #9B1C1C;
  background-color: #FDE8E8;
}
.badge-success {
  color: #035942;
  background-color: #E2F8EE;
}
.badge-indigo {
  color: #42389D;
  background-color: #E5EDFF;
}
.badge-blue {
  color: #1E429F;
  background-color: #E1EFFE;
}
.badge-teal {
  color: #085763;
  background-color: #DDF7F8;
}
.badge-orange {
  color: #993008;
  background-color: #FEEFE1;
}
.badge-yellow {
  color: #85460F;
  background-color: #FDF8C9;
}
.badge-gray {
  color: #27303F;
  background-color: #F1F5F9;
}
.table {
  color: #27303F;
}

.body{
  font-size: 16px;
}
.col-form-label, .form-control, .btn, .dropdown-menu{
  font-size: 16px;
}

button:focus,
button:active{
  outline-style: none;
box-shadow: none;
border-color: transparent;
}


.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  font-weight: 500;
}

.custom-select:disabled {
  background-color: #fff;
  font-weight: 500;
}

label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}